.headerMenuDesc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
}
.headerMenuDesc ul {
  display: flex;
  align-items: center;
  gap: 30px;
}
.headerMenuDesc a {
  color: #000;
}
.logo {
  font-size: 22px;
}
#header {
  position: sticky;
  top: 0;
  backdrop-filter: blur(10px);
}
#gradient-cover {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 768px) {
  .headerMenuDesc {
    display: none;
  }
  #gradient-cover {
    display: none;
  }
}
