.qualificationWrapper h2 {
  font-size: 3rem;
  text-align: center;
  color: #222831;
  margin-top: 60px;
}
.qualificationWrapper h5 {
  text-align: center;
  color: #3338;
  margin-bottom: 60px;
}
.fieldsTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;
  font-size: 22px;
  margin-bottom: 40px;
}
.fieldsTitle span {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
}
.fieldsTitle span:hover {
  opacity: 1;
}
.fieldsTitle span.active {
    opacity: 1;
}
.qualContent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.qualData {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #132043;
}
.dataTitle {
  font-size: 15px;
  font-weight: 600;
}
.dataTime {
  font-size: 13px;
  opacity: 0.7;
}
.quaLine {
  height: 1px;
  width: 100px;
  background-color: #a9a9a9;
}
.qualField {
  font-size: 14px;
}
.hidden {
  display: none;
}

.active {
  display: flex;
}
@media only screen and (max-width: 768px) {
  .dataTitle {
    text-align: center;
  }
  .quaLine {
    display: none;
  }
  .qualContent {
    flex-direction: column;
  }
  .qualificationWrapper h2 {
    margin-top: 40px;
  }
}